@page "/alpakas"
@using AlpakaFrontend2.Service;
@inject ApiService ApiService
@using System.Net.Http
@using RestAlpaka.Model
@inject HttpClient Http

<div class="alpaka">
    <h1>Alpaka List</h1>

    @if (alpakas == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var alpaka in alpakas)
        {
            var image = imagesList.FirstOrDefault(i => i.Name == alpaka.Alpaka_name);

            <div class="alpaka-item">
                <img src="@image?.ImageUrl" alt="Alpaca Image " />
                <p><strong>Name:</strong> @alpaka.Alpaka_name</p>
                <p><strong>Age:</strong> @alpaka.age</p>
                <p><strong>Color:</strong> @alpaka.color</p>
                <p><strong>Description:</strong> @alpaka.description</p>
            </div>
        }
    }
</div>


@code {

    private Alpaka[]? alpakas;


    protected override async Task OnInitializedAsync() =>
    alpakas = await ApiService.GetTAsync<Alpaka[]>("api/Alpaka");

    public class Images
    {
        public string Name { get; set; }
        public string ImageUrl { get; set; }
    }

    private List<Images> imagesList = new List<Images>
    {
        new Images { Name = "Alpaka1", ImageUrl = "Media/alpaka1.jpg" },
         new Images { Name = "Alpaka2", ImageUrl = "Media/alpaka2.jpg" },
          new Images { Name = "bo", ImageUrl = "Media/alpaka3.jpg" },
       
        // Add more images if needed
    };


}
