
<body>
    <div class="topnav">
        <div class="container text-center">
            <div class="topnav-center">
                <a class="navbar-brand" href="/Index"><strong>Fuzzy Valley Alpaca Ranch</strong></a>
                <a class="nav-link" href="/Alpakas">ALPAKAS</a>
                <a class="nav-link" href="/Events">EVENTS</a>
                <a class="nav-link" href="/AlpakaWalk">ALPAKA WALK</a>
                <a class="nav-link" href="/CreateAlpakaEvent">Admin</a>
            </div>
            <div class="topnav-right text-right">
                <a class="login-icon" href="/login"><Icon Name="IconName.Cart2" /></a>
                <a class="login-icon" href="/login"><Icon Name="IconName.PersonLock" Size=" IconSize.x4 " /></a>
            </div>
        </div>
    </div>
</body>
